<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <solosearch>
            <widget>
                <enable>0</enable>
                <search_engine_id></search_engine_id>
                <script_url>https://api.solosearch.app/widget.js</script_url>
                <input_selector>#search</input_selector>
                <locale></locale>
                <template_set_id></template_set_id>
            </widget>
            <general>
                <enable>0</enable>
                <api_token></api_token>
                <include_configurable_products>1</include_configurable_products>
                <configurable_price_mode>cheapest_child</configurable_price_mode>
                <include_bundle_products>1</include_bundle_products>
                <include_virtual_products>1</include_virtual_products>
                <include_downloadable_products>1</include_downloadable_products>
                <include_grouped_products>1</include_grouped_products>
                <only_navigable_categories>0</only_navigable_categories>
            </general>
            <feed_generation>
                <daily_generation_enabled>1</daily_generation_enabled>
                <generation_time>3,0,0</generation_time>
            </feed_generation>
            <field_mapping>
                <mapping>
                    <brand>
                        <feed_field>brand</feed_field>
                        <attribute_code>manufacturer</attribute_code>
                    </brand>
                    <description>
                        <feed_field>description</feed_field>
                        <attribute_code>description</attribute_code>
                    </description>
                    <short_description>
                        <feed_field>short_description</feed_field>
                        <attribute_code>short_description</attribute_code>
                    </short_description>
                </mapping>
            </field_mapping>
        </solosearch>
        <crontab>
            <bydn_solosearch>
                <jobs>
                    <bydn_solosearch_generate_feed>
                        <schedule>
                            <cron_expr>0 3 * * *</cron_expr>
                        </schedule>
                    </bydn_solosearch_generate_feed>
                </jobs>
            </bydn_solosearch>
        </crontab>
    </default>
</config>
